<div class="container">

    <div>
        <p>{{Arrayanios[indexAnioSelect]}}</p>
        <div class="year" *ngFor="let anio of Arrayanios; let i = index">
            <div [ngClass]="{'active': indexAnioSelect==i}" (click)="selectAnio(i)">
                {{anio}}
            </div>
        </div>
    </div>
    

    <div>
        <p>{{Arraymeses[indexMesSelect].mes}}</p>
        <div class="year" *ngFor="let mes of Arraymeses; let i = index">
            <div [ngClass]="{'active': indexMesSelect==i}" (click)="selectMes(i)" >
                {{mes.mes}}    
            </div>
            
        </div>
    </div>
    
    <div>
        <p>{{Arraydays[indexDiaSelect]}}</p>
        <div class="day" *ngFor="let day of Arraydays; let i = index">
            <div [ngClass]="{'active': indexDiaSelect==i}" (click)="selectDia(i)">
                {{day}}
            </div>
            
        </div>
            
    </div>

</div>




